@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Rajdhani:wght@300;400;500&display=swap');

body{
    background-color: #141a1a;
}

:root{
    --headingText: 'Londrina Shadow', 'cursive';
    --infoText: 'Rajdhani', 'sans-serif';
}

/* ______________________________BODY CONTENT STARTED______________________________ */
#bodyContent{
    margin-top: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

#factDivision{
    color: whitesmoke;
    width: 75%;
    min-height: 95vh;
}

#factDivision > h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: whitesmoke;
    font-weight: 400;
    font-family: var(--headingText);
}

#factInfo{
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: 400; 
    font-family: var(--infoText);
}

#fact{
    padding: 2em;
}
/* ______________________________BODY CONTENT ENDED______________________________ */

/* ______________________________FOOTER STARTED______________________________ */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #67899d;
}

footer > p{
    margin: 5px;
}

#anotherProject{
    color: inherit;
    font-weight: bold;
    font-family: var(--infoText);
    text-decoration: none;
}

footer > p > a{
    text-decoration: none;
    color: #67899d;
    font-weight: bold;
}
/* ______________________________FOOTER ENDED______________________________ */


@media screen and (max-width: 480px) {
    #factDivision{
        width: 100vw;
    }
    #factDivision > h2{
        font-size: 45px;
    }
    #factInfo{
        font-size: 23px;
    }
}

@media screen and (max-width: 320px) {
    #factDivision > h2{
        font-size: 38px;
    }
    #factInfo{
        font-size: 20px;
    }
}
